flows/M365ServiceHealth/Microsoft.Flow/flows/027795d0-99c2-45d9-8a3f-3c1dcc03aa5e/definition.json
{
    "name": "770a4c62-0384-4551-81bb-9a7abb9d4ecf",
    "id": "/providers/Microsoft.Flow/flows/770a4c62-0384-4551-81bb-9a7abb9d4ecf",
    "type": "Microsoft.Flow/flows",
    "properties": {
        "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
        "displayName": "M365 Service Health",
        "definition": {
            "metadata": {
                "workflowEntityId": null,
                "processAdvisorMetadata": null,
                "flowChargedByPaygo": null,
                "flowclientsuspensionreason": "AllActionsFailingDetected",
                "flowclientsuspensiontime": "2024-12-23T05:53:19.9931342Z",
                "flowclientsuspensionreasondetails": "Your flow has failed consistently for 14 days. We disabled it on 12/23/2024 5:53:19 AM.",
                "creator": {
                    "id": "4af50d87-e728-484e-874c-3f4536b38fee",
                    "type": "User",
                    "tenantId": "aecb54e0-7430-409d-86a4-7639c743eee7"
                },
                "provisioningMethod": "FromDefinition",
                "failureAlertSubscription": true,
                "clientLastModifiedTime": "2025-02-26T21:18:11.9301878Z",
                "connectionKeySavedTimeKey": "2024-12-09T05:53:06.9220102Z"
            },
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "undefined",
            "parameters": {
                "$authentication": {
                    "defaultValue": {},
                    "type": "SecureObject"
                },
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                }
            },
            "triggers": {
                "Recurrence": {
                    "recurrence": {
                        "frequency": "Hour",
                        "interval": 1,
                        "timeZone": "Eastern Standard Time"
                    },
                    "metadata": {
                        "operationMetadataId": "65987370-3e10-41c2-b203-9faf2e46fa5c"
                    },
                    "type": "Recurrence"
                }
            },
            "actions": {
                "Get_Access_Token_to_Graph": {
                    "runAfter": {
                        "Set_Client_Secret": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "3646b172-418c-4278-bd23-af1d4e430d95"
                    },
                    "type": "Http",
                    "inputs": {
                        "uri": "https://login.microsoftonline.com/[TenantId]/oauth2/v2.0/token",
                        "method": "POST",
                        "headers": {
                            "Content-Type": "application/x-www-form-urlencoded"
                        },
                        "body": "client_id=@{variables('client_id')}&client_secret=@{variables('client_secret')}&grant_type=client_credentials&scope=https://graph.microsoft.com/.default"
                    }
                },
                "Set_Client_ID": {
                    "runAfter": {
                        "Define_Services_to_Get": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "c57b140a-6c2e-4a0f-b0ea-7f5d930528fd"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "client_id",
                                "type": "string",
                                "value": "[Enter Client ID]"
                            }
                        ]
                    }
                },
                "Set_Client_Secret": {
                    "runAfter": {
                        "Set_Client_ID": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "37e2f10a-a5e1-4dfc-95c0-5ca61fa6ec0a"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "client_secret",
                                "type": "string",
                                "value": "[Enter Client Secret]"
                            }
                        ]
                    }
                },
                "Set_Access_Token": {
                    "runAfter": {
                        "Get_Access_Token_to_Graph": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "ac0ed603-bda4-49e9-9029-a7033ac843d4"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "access_token",
                                "type": "string",
                                "value": "Bearer @{body('Get_Access_Token_to_Graph')['access_token']}"
                            }
                        ]
                    }
                },
                "Define_Services_to_Get": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "2250d107-2cf7-40ab-af59-6b394baffdf8"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "services",
                                "type": "string",
                                "value": "'Microsoft 365', 'Planner', 'Microsoft Power Automate', 'Power BI', 'Power Apps', 'Microsoft Forms', 'Microsoft Stream', 'SharePoint Online'"
                            }
                        ]
                    },
                    "description": "If you want to get a subset, you will need to filter for this in Get Service Health."
                },
                "Get_Service_Health": {
                    "runAfter": {
                        "Set_Access_Token": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "fce44168-5834-4d73-b09c-3173fe31cfc1"
                    },
                    "type": "Http",
                    "inputs": {
                        "uri": "https://graph.microsoft.com/v1.0/admin/serviceAnnouncement/healthOverviews",
                        "method": "GET",
                        "headers": {
                            "Authorization": "@{variables('access_token')}"
                        },
                        "queries": {
                            "$orderby": "service"
                        }
                    }
                },
                "Apply_to_each": {
                    "foreach": "@body('Get_Service_Health')?['value']",
                    "actions": {
                        "Get_Service_Item": {
                            "runAfter": {
                                "Set_Active_Issues_for_Service": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "99f4333d-a325-4097-bdfd-be5fc1395d28"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "parameters": {
                                    "dataset": "https://dattaspo.sharepoint.com/sites/Demo/m365-health",
                                    "table": "995bd8ac-74d2-4c33-9fb7-a7ea73cb53d2",
                                    "$filter": "Title eq '@{item()['service']}'"
                                },
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "GetItems"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Condition": {
                            "actions": {
                                "Create_item": {
                                    "metadata": {
                                        "operationMetadataId": "0c201d3d-0675-470d-b7fe-748fa80dfb74"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "parameters": {
                                            "dataset": "https://dattaspo.sharepoint.com/sites/Demo/m365-health",
                                            "table": "995bd8ac-74d2-4c33-9fb7-a7ea73cb53d2",
                                            "item/Title": "@{item()?['service']}",
                                            "item/ServiceId": "@{item()?['id']}",
                                            "item/ServiceStatus/Value": "@{item()?['status']}",
                                            "item/ServiceIssues": "@{variables('serviceIssues')}"
                                        },
                                        "host": {
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                            "connectionName": "shared_sharepointonline",
                                            "operationId": "PostItem"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                    }
                                }
                            },
                            "runAfter": {
                                "Get_Service_Item": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Update_item": {
                                        "metadata": {
                                            "operationMetadataId": "648ea463-0884-4020-8238-79de13713319"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                            "parameters": {
                                                "dataset": "https://dattaspo.sharepoint.com/sites/Demo/m365-health",
                                                "table": "995bd8ac-74d2-4c33-9fb7-a7ea73cb53d2",
                                                "id": "@first(outputs('Get_Service_Item')?['body/value'])?['Id']",
                                                "item/Title": "@{first(outputs('Get_Service_Item')?['body/value'])?['Title']}",
                                                "item/ServiceId": "@{first(outputs('Get_Service_Item')?['body/value'])?['ServiceId']}",
                                                "item/ServiceStatus/Value": "@{item()?['status']}",
                                                "item/ServiceIssues": "@{variables('serviceIssues')}"
                                            },
                                            "host": {
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                                                "connectionName": "shared_sharepointonline",
                                                "operationId": "PatchItem"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@length(outputs('Get_Service_Item')?['body/value'])",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "cc253b06-a7e4-40f9-9acd-381d8af9206c"
                            },
                            "type": "If"
                        },
                        "Find_Active_Issues_for_Service": {
                            "metadata": {
                                "operationMetadataId": "f6cfd397-8dfa-4a74-bfee-88074a468dfb"
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "https://graph.microsoft.com/v1.0/admin/serviceAnnouncement/issues",
                                "method": "GET",
                                "headers": {
                                    "Authorization": "@{variables('access_token')}"
                                },
                                "queries": {
                                    "$filter": "endDateTime eq null and service eq '@{item()['service']}'",
                                    "$orderby": "startDateTime desc"
                                }
                            }
                        },
                        "Set_Active_Issues_for_Service": {
                            "runAfter": {
                                "Find_Active_Issues_for_Service": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "3ebc323a-896a-40b9-ab53-527ab35e696b"
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "serviceIssues",
                                "value": "@body('Find_Active_Issues_for_Service')?['value']"
                            }
                        }
                    },
                    "runAfter": {
                        "Initialize_status_variable_for_loop": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "ecaf6197-db75-4817-8709-047e7339ca10"
                    },
                    "type": "Foreach"
                },
                "Initialize_issues_variable_for_loop": {
                    "runAfter": {
                        "Get_Service_Health": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "0623c01b-91ee-4ae8-8401-6dd8c744b074"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "serviceIssues",
                                "type": "array"
                            }
                        ]
                    }
                },
                "Initialize_status_variable_for_loop": {
                    "runAfter": {
                        "Initialize_issues_variable_for_loop": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "0623c01b-91ee-4ae8-8401-6dd8c744b074"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "serviceStatus",
                                "type": "string"
                            }
                        ]
                    }
                }
            }
        },
        "connectionReferences": {
            "shared_sharepointonline": {
                "connectionName": "shared-sharepointonl-66a6d844-5e1b-4fa5-a8f1-40d37f28a005",
                "source": "Embedded",
                "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                "tier": "NotSpecified",
                "apiName": "sharepointonline"
            }
        },
        "flowFailureAlertSubscribed": false,
        "isManaged": false
    }
}