flows/M365ServiceHealth/Microsoft.Flow/flows/91143d2d-0fb1-4201-ad19-85cd2979dd36/definition.json
{
    "name": "4c02072a-15ad-4063-80d0-4ab8c065f3ff",
    "id": "/providers/Microsoft.Flow/flows/4c02072a-15ad-4063-80d0-4ab8c065f3ff",
    "type": "Microsoft.Flow/flows",
    "properties": {
        "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
        "displayName": "M365 Service Health",
        "definition": {
            "metadata": {
                "workflowEntityId": null,
                "processAdvisorMetadata": null,
                "flowChargedByPaygo": null,
                "flowclientsuspensionreason": "None",
                "flowclientsuspensiontime": null,
                "flowclientsuspensionreasondetails": null,
                "creator": {
                    "id": "4af50d87-e728-484e-874c-3f4536b38fee",
                    "type": "User",
                    "tenantId": "aecb54e0-7430-409d-86a4-7639c743eee7"
                },
                "provisioningMethod": "FromDefinition",
                "failureAlertSubscription": true,
                "clientLastModifiedTime": "2024-02-14T16:36:29.2854793Z",
                "connectionKeySavedTimeKey": "2024-02-14T16:36:29.2854793Z"
            },
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
                "$authentication": {
                    "defaultValue": {},
                    "type": "SecureObject"
                },
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                }
            },
            "triggers": {
                "When_an_item_is_created_or_modified": {
                    "recurrence": {
                        "frequency": "Minute",
                        "interval": 3
                    },
                    "metadata": {
                        "operationMetadataId": "dd5aad1d-db3d-4329-a307-c5f0b1973545"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "parameters": {
                            "dataset": "https://dattaspo.sharepoint.com/sites/Demo/entra-site-mgr",
                            "table": "3ab419cd-a4d1-4849-8827-e24fa0381ebf"
                        },
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                            "connectionName": "shared_sharepointonline",
                            "operationId": "GetOnUpdatedItems"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                }
            },
            "actions": {
                "Set_tenant_id": {
                    "runAfter": {
                        "Ensure_site_urls_exist": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "70bbb6ce-cee3-49ca-bb16-601720cf3ddb"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "tenantId",
                                "type": "string",
                                "value": ""
                            }
                        ]
                    }
                },
                "Set_client_id": {
                    "runAfter": {
                        "Ensure_site_urls_exist": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "70fdb6ce-cee3-49ca-bb16-42a81bcf3ddb"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "clientId",
                                "type": "string",
                                "value": ""
                            }
                        ]
                    }
                },
                "Set_client_secret": {
                    "runAfter": {
                        "Set_client_id": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "cc6682ba-f53a-44fe-b146-99ed918939a2"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "clientSecret",
                                "type": "string",
                                "value": ""
                            }
                        ]
                    }
                },
                "Set_domain": {
                    "runAfter": {
                        "Set_client_secret": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "3d05971b-4fcd-4698-aa03-d3b143b0a415"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "domain",
                                "type": "string",
                                "value": "dattaspo.sharepoint.com"
                            }
                        ]
                    }
                },
                "Get_the_graph_token": {
                    "runAfter": {
                        "Set_domain": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "8986407d-f2e8-4525-91f0-a501b9bb0125"
                    },
                    "type": "Http",
                    "inputs": {
                        "uri": "https://login.microsoftonline.com/@{variables('tenantId')}/oauth2/v2.0/token",
                        "method": "POST",
                        "headers": {
                            "content-type": "application/x-www-form-urlencoded"
                        },
                        "body": "client_id=@{variables('clientId')}&client_secret=@{variables('clientSecret')}&grant_type=client_credentials&scope=https://graph.microsoft.com/.default"
                    }
                },
                "Ensure_the_item_is_approved": {
                    "actions": {},
                    "runAfter": {
                        "Apply_to_each": [
                            "Succeeded"
                        ]
                    },
                    "else": {
                        "actions": {
                            "Terminate": {
                                "metadata": {
                                    "operationMetadataId": "847ddbdf-3320-433c-8de2-8ddf33287017"
                                },
                                "type": "Terminate",
                                "inputs": {
                                    "runStatus": "Succeeded"
                                }
                            }
                        }
                    },
                    "expression": {
                        "and": [
                            {
                                "equals": [
                                    "@variables('currentStatus')",
                                    "Approved"
                                ]
                            }
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "89cf48ff-7e78-437d-8640-6d07af113642"
                    },
                    "type": "If"
                },
                "Ensure_site_urls_exist": {
                    "actions": {},
                    "runAfter": {
                        "Set_the_site_urls_as_an_array": [
                            "Succeeded"
                        ]
                    },
                    "else": {
                        "actions": {
                            "Terminate_1": {
                                "metadata": {
                                    "operationMetadataId": "8291d4f5-2f63-4a83-807d-4a7d38c7ece4"
                                },
                                "type": "Terminate",
                                "inputs": {
                                    "runStatus": "Succeeded"
                                }
                            }
                        }
                    },
                    "expression": {
                        "and": [
                            {
                                "greater": [
                                    "@length(variables('siteUrls'))",
                                    0
                                ]
                            }
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "8edeeeca-f97c-466e-bac1-8e15068033cc"
                    },
                    "type": "If"
                },
                "Loop_through_the_site_urls": {
                    "foreach": "@variables('siteUrls')",
                    "actions": {
                        "Get_the_site_permissions": {
                            "metadata": {
                                "operationMetadataId": "491f5569-2c2e-4442-b464-6646e7de1196"
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "https://graph.microsoft.com/v1.0/site/@{variables('domain')}:@{items('Loop_through_the_site_urls')}",
                                "method": "GET",
                                "headers": {
                                    "Authorization": "@{variables('accessToken')}"
                                }
                            }
                        }
                    },
                    "runAfter": {
                        "Set_the_access_token": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "a562ce2b-dc08-4eb6-9438-f7fdb542ea0f"
                    },
                    "type": "Foreach"
                },
                "Set_the_access_token": {
                    "runAfter": {
                        "Get_the_graph_token": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "23034f3b-37ab-43de-86f7-3eae4ccdd6b3"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "accessToken",
                                "type": "string",
                                "value": "Bearer @{body('Get_the_graph_token')['access_token']}"
                            }
                        ]
                    }
                },
                "Set_the_site_urls_as_an_array": {
                    "runAfter": {
                        "For_each": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "ee73bced-51c3-4712-836e-c9087b2e06a8"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "siteUrls",
                                "type": "array",
                                "value": "@split(variables('siteUrlsValue'), '\\n')"
                            }
                        ]
                    }
                },
                "Initialize_the_site_urls": {
                    "runAfter": {
                        "Ensure_the_item_is_approved": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "bcbda524-ffd0-4d72-8612-7f4d6e5e5624"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "siteUrlsValue",
                                "type": "string"
                            }
                        ]
                    }
                },
                "Initialize_the_current_status_variable": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "cbf51715-2eb9-4e5f-99f1-c473eacd8418"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "currentStatus",
                                "type": "string"
                            }
                        ]
                    }
                },
                "Apply_to_each": {
                    "foreach": "@triggerOutputs()?['body/value']",
                    "actions": {
                        "Set_the_current_status": {
                            "metadata": {
                                "operationMetadataId": "eb565e0e-51f5-47aa-a3fe-aa9ecb8dc681"
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "currentStatus",
                                "value": "@item()?['Status']?['Value']"
                            }
                        }
                    },
                    "runAfter": {
                        "Initialize_the_current_status_variable": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "f7ec4130-daa2-4826-a850-ede815ed8cc4"
                    },
                    "type": "Foreach"
                },
                "For_each": {
                    "foreach": "@triggerOutputs()?['body/value']",
                    "actions": {
                        "Set_the_site_urls_value": {
                            "metadata": {
                                "operationMetadataId": "a7686714-aa09-409f-a4bf-d9ac63f0ab0f"
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "siteUrlsValue",
                                "value": "@item()?['SiteUrls']"
                            }
                        }
                    },
                    "runAfter": {
                        "Initialize_the_site_urls": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "fd7d2215-ffc7-4b94-b876-e4fbde7ae038"
                    },
                    "type": "Foreach"
                }
            },
            "outputs": {}
        },
        "connectionReferences": {
            "shared_sharepointonline": {
                "connectionName": "shared-sharepointonl-66a6d844-5e1b-4fa5-a8f1-40d37f28a005",
                "source": "Embedded",
                "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                "tier": "NotSpecified"
            }
        },
        "flowFailureAlertSubscribed": false,
        "isManaged": false
    }
}